<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>WINNER!!</h1> -->
    {% block content %}

    
<main>
      {% if result == None %}<h1>IT'S A DRAW!</h1>

      {% else %}
      <h1>WINNER!</h1>

      <p>{{result.name}} chose {{result.choice}}</p>


      {% endif %}

    
    
    </main>

    {% endblock %}

</body>
</html>